# the external ssh server to connect to, in the form username@host:port.
SSHITMAIDS_DEST=git@github.com:22

SSHITMAIDS_CLIENT_DEST=git@sshitmaids:22

# the port to host on externally (in-network the server is sshitmaids:22)
SSHITMAIDS_PORT=2223

# generates file in /volumes/client/config with a Host entry for the sshitmaids
# host, so this can be included in users' ssh config.  Assumes the sshitmaids
# service is in the same docker network and reachable at the hostname:port
# "sshitmaids:22"
SSHITMAIDS_GENERATE_CLIENT_CONFIG=true

# github's ssh server keyscan is rate-limited so requesting it regularly is pointless.
SSHITMAIDS_DO_KEYSCAN=false